<div class="alert alert-success" role="alert">
    <center>
<h1 style="background-color:MediumSeaGreen;">Success </h1>
</center>
<h3 style="background-color:Gray;">{{ payment_id}}</h3>
<h3 style="background-color:Gray;"> {{collection_id}}</h3>
<h3 style="background-color:Gray;"> {{body}}</h3>

</div>